<form ng-controller="loginControl">
cddd
<!--   <div class="container" id="loginContainer">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="text" class="form-control" placeholder="Login"ng-model="userInfo.username">
      <input type="password" class="form-control" placeholder="Password" required="" name="password"ng-model="userInfo.password">
      <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="login">Sign in</button>
    </form>
    <button class="btn btn-lg btn-primary btn-block" ng-click="signUp()">Sign up</button>
  </div>

  <div id="newUser" ng-show="isNewUser">
    <form>
      <input type="text" class="form-control" placeholder="Choose your login name">
          <input type="password" class="form-control" placeholder="Choose your password" required="" >
          <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="login">Create new user</button>
    </form>
  </div> -->
  
</form>