<div ng-init="start()">
	Hello, {{username}} 

{{projects}}
	<table>
		  	<tr ng-repeat="project in projects">
		  		<input type="checkbox">
			    <td>{{project}}</td>
			    <td>
			    	
			    	<button id="edit" ng-click="update(projectName)">update</button>
			    	<button id="delete"> delete</button>
			    </td>
		  	</tr>
	</table>
	<button ng-click="isListShow = !isListShow">add ToDo list</button>
	<form ng-show="isListShow">
		<!-- <div id="toolkit">{{msg}}  </div> -->
			<input type="text" ng-model="newProjectName" placeholder="Enter new list name">
			<button ng-click="createProject(newProjectName)">Create new project</button>
	</form>
</div>


<!-- 

<div>
	tasks
 this is single project view <br>
<div id="main">

	<div id="header" style="inline-block">       
		<button id="backToList"></button>
		<div>{{s.name}}</div>
		<button id="rename"></button>
		<button id="delete"></button>
	</div>

	<div id="createBar">
		<divclass="greenCross"></div>
		<input type="text" placeholder="Start typing here to create a task...">
		<div id="addButton" ng-click="createTask()">Add Task</div>



	</div>

	<table>
	  	<tr ng-repeat="task in project">
	  		<input type="checkbox">
		    <td>{{task.text}}</td>
		    <td>
		    	<div>
		    		<button id="upper">upper</button>
		    		<button id="lower">lower</button>
		    	</div>
		    	<button id="edit"> edit</button>
		    	<button id="delete"> delete</button>
		    </td>
	  	</tr>
	</table>
	
</div>

</div>







</div> -->
