<div ng-init="start()">
	Hello, {{username}} 
<br>
<div ng-repeat="project in projects" style="border:1px solid black">
	<div id="header">
		<span>{{project.name}}</span>
		
		<span><button id="edit" ng-click="updateProject(project.name)">update</button></span> 
		<span><button id="delete" ng-click="deleteProject(project.name)">delete</button></span>
	</div>
	<div id="taskAdder">
		<span id="greenCross"></span> 
		<form>
			<input type="text" ng-model="newTaskContent" placeholder="Start typing here to create a task...">
			<button ng-click="addTask(newTaskContent, project.name)">Add Task</button>
		</form>	

	</div>
	<div ng-repeat="task in project.tasks">
		<span><form><input type="checkbox" ng-checked="checkTask(project.task)"></form></span>
		<span>{{task.content}}</span>
		<span><button>Up</button></span>
		<span><button>down</button></span>
		<span><button ng-click="deleteTask(task.content, project.name)">delete</button></span>
	</div>



</div>


<button ng-click="isListShow = !isListShow">add ToDo list</button>
	<form ng-show="isListShow">
		<!-- <div id="toolkit">{{msg}}  </div> -->
			<input type="text" ng-model="newProjectName" placeholder="Enter new list name">
			<button ng-click="createProject(newProjectName)">Create new project</button>
	</form>	
</div>


<!-- 

<div>
	tasks
 this is single project view <br>
<div id="main">

	<div id="header" style="inline-block">       
		<button id="backToList"></button>
		<div>{{s.name}}</div>
		<button id="rename"></button>
		<button id="delete"></button>
	</div>

	<div id="createBar">
		<divclass="greenCross"></div>
		<input type="text" placeholder="Start typing here to create a task...">
		<div id="addButton" ng-click="createTask()">Add Task</div>



	</div>

	<table>
	  	<tr ng-repeat="task in project">
	  		<input type="checkbox">
		    <td>{{task.text}}</td>
		    <td>
		    	<div>
		    		<button id="upper">upper</button>
		    		<button id="lower">lower</button>
		    	</div>
		    	<button id="edit"> edit</button>
		    	<button id="delete"> delete</button>
		    </td>
	  	</tr>
	</table>
	
</div>

</div>







</div> -->
