<div ng-controller="tasksControl">
 this is single project view <br>
<div id="main">

	<div id="header" style="inline-block">         <!-- заголовок блока --> 
		<button id="backToList"></button>
		<div>{{s.name}}</div>
		<button id="rename"></button>
		<button id="delete"></button>
	</div>

	<div id="createBar">
		<divclass="greenCross"></div>
		<input type="text" placeholder="Start typing here to create a task...">
		<div id="addButton" ng-click="createTask()">Add Task</div>



	</div>

	<table>
	  	<tr ng-repeat="task in project">
	  		<input type="checkbox">
		    <td>{{task.text}}</td>
		    <td>
		    	<div>
		    		<button id="upper">upper</button>
		    		<button id="lower">lower</button>
		    	</div>
		    	<button id="edit"> edit</button>
		    	<button id="delete"> delete</button>
		    </td>
	  	</tr>
	</table>
	
</div>

</div>







</div>
